.newsline {
  background-color: #273a43;
  padding: 40px 0;
}

.container--footer {
  align-items: baseline;
  max-width: 1175px;
}

.newsline__block {
  margin: 0 15px;
  @media (min-width: 320px) {
    width: 90%;
  }

  @media (min-width: 768px) {
    width: 40%;
  }

  @media (min-width: 1024px) {
    width: 20%;
  }
}

.company__desc, .contacts__text, .tweet__text, .subscribe__text {
  color: #c3c3c3;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.logo--footer, .contacts__header, .tweets__header, .subscribe__header {
  font-size: 22px;
  color: white;
  font-weight: normal;
  margin-top: 30px;
}

.address, .email, .phone-number {
  display: block;
  color: white;
  font-size: 13px;
  margin-top: 10px;

  .fa {
    font-size: 22px;
    color: $theme_color;
  }

  .fa-map-marker {
    margin-left: 4px;
  }

  .fa-phone {
    margin-left: 1px;
  }
}

.adress__text {
  margin-left: 25px;
}

.email__text {
  margin-left: 20px;
}

.phone-number__text {
  margin-left: 23px;
}

.tweet {
  position: relative;
  margin-left: 40px;
}

.tweet:before {
  left: -40px;
  position: absolute;
  content: "\f099";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 24px;
  color: $theme_color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tweet__text {
  margin-bottom: 0;
}

.tweet__link {
  color: $theme_color;
  font-size: 13px;
}

.subscribe__form {
  margin-top: 35px;
}

.subscribe__email {
  box-sizing: border-box;
  width: 65%;
  height: 28px;
  border: none;
  border-radius: 5px 0 0 5px;
  background-color: #172227;
  color: #a7a7a7;
  font-size: 13px;
  padding-left: 20px;
}

.subscribe__button {
  width: 35%;
  height: 28px;
  border: none;
  background: $theme_color;
  border-radius: 0 5px 5px 0;
  margin-left: -5px;
  box-sizing: border-box;
  color: white;
  font-size: 13px;
}

.copyright-line {
  font-size: 14px;
  color: #c4c4c4;
  background-color: #172227;
  height: 90px;
  text-align: center;
}

.container--copyright {
  height: inherit;
  flex-wrap: nowrap;
}

.social__items {
  padding-left: 0;
}

.social__item {
  display: inline-block;
  padding-left: 0;
}

.social__link {
  display: block;
  font-size: 18px;
  height: 30px;
  width: 30px;
  background-color: #2c3b42;
  color: white;

  .fa {
    margin: 7px;
  }

  &:hover {
    background-color: $theme_color;
  }
}

