body {
  font-family: "Open Sans", sans-serif;
  max-width: 1500px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}
@import "slick";
@import "slick-theme";
@import "variables";
@import "head";
@import "banner";
@import "service";
@import "about";
@import "portfolio";



